<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>frg*validator*impl - [%4level] %logger{4} : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fragnostic.validator.i18n.ValidatorI18n" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>